

Dear josh,

To reset your password click on the following link:

http://127.0.0.1:5000/reset_password/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyZXNldF9wYXNzd29
yZCI6MSwiZXhwIjoxNTUyNjk4Mjc3LjkzNDUxMjl9.B_90TSdMKSSNLVm6uh90YGBxjpr6t-KLMC7h6Q0MPoc

If you have not requested a password reset simply ignore this message.

Sincerely,

Josh

--===============0415741828==Content-Type: text/html; charset="utf-8"MIME-Version: 1.0
Content-Transfer-Encoding: 7bit



<p>Dear josh,</p>
<p>
    To reset your password
    <a href="http://127.0.0.1:5000/reset_password/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyZXNldF9wYXN
zd29yZCI6MSwiZXhwIjoxNTUyNjk4Mjc3LjkzNDUxMjl9.B_90TSdMKSSNLVm6uh90YGBxjpr6t-KLMC7h6Q0MPoc">
        click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>http://127.0.0.1:5000/reset_password/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyZXNldF9wYXNzd29yZCI6MSwiZXhwIjoxNTUyNjk4Mjc3LjkzNDUxMjl9.B_90TSdMKSSNLVm
6uh90YGBxjpr6t-KLMC7h6Q0MPoc</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>Josh</p>
